@model List<Investrosite.Models.Database.Report>
@{
    ViewBag.Title = "Reportlist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Reportlist</h2>

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tr>
                    <th> ID</th>
                    <th> Name</th>
                    <th> Email</th>
                    <th> Issue</th>
                </tr>
                @foreach (var p in Model)
                {
                    <tr>
                        <td> @p.Id</td>
                        <td> @p.Name</td>
                        <td>@p.Email</td>
                        <td> @p.Issue</td>

                    </tr>
}
            </table>

        </div>
    </div>
</div>
